.all-agents-container {
  padding-inline: 1rem;
  font-family: "Segoe UI", sans-serif;
  min-height: 100vh;
  padding-block: 20px;
  margin-top: -2rem;
  margin-bottom: 5rem;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #eee;
  margin-bottom: 20px;
}

/* .page-header h1 {
 
} */
.page-header div {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  align-items: center;
}

.back-btn {
  background-color: #090c4e;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 8px;
  font-size: 0.9rem;

  &:active,
  &:hover {
    border: 1.5px solid white;
  }
}

.agents-table {
  width: 100%;
  border-collapse: collapse;
  background: rgba(0, 0, 0, 0.215);
  overflow: hidden;
}

.agents-table th,
.agents-table td {
  border: 1px solid #dee2e6;
  padding: 12px 15px;
  text-align: left;
  vertical-align: top; /* Important for nested lists */
}

.agents-table th {
  background-color: #49505798;
  color: white;
  text-transform: uppercase;
  font-size: 0.85rem;
  letter-spacing: 0.05em;
}

/* Nested Leads Table inside the cell */
.nested-leads-table {
  width: 100%;
  font-size: 0.85rem;
  border: 1px solid #eee;
  border-collapse: collapse;
}

.nested-leads-table th {
  background-color: #49505798;
  padding: 5px;
}

.nested-leads-table td {
  padding: 5px;
  border-bottom: 1px solid #eee;
}

.no-leads {
  color: #999;
  font-style: italic;
}
