.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #3d4c62;
  min-width: 100vw;
}
.auth-form {
  background: rgba(255, 255, 255, 0.76);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 350px;
}
.auth-form h2 {
  text-align: center;
  color: #333;
  margin-bottom: 1.5rem;
}
.form-group {
  margin-bottom: 1rem;
}
.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Important for padding */
}
.auth-btn {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}
.auth-btn:hover {
  background-color: #0056b3;
}
.toggle-link {
  display: block;
  text-align: center;
  margin-top: 10px;
  color: #007bff;
  cursor: pointer;
  font-size: 0.9rem;
}
